{
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "func-names": [
      "warn",
      "never"
    ],
    "generator-star-spacing": [
      "error",
      {
        "before": true,
        "after": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/no-named-as-default-member": [
      "off"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": "off"
      }
    ],
    "key-spacing": [
      "warn",
      {
        "beforeColon": true
      }
    ],
    "no-console": [
      "off"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "no-shadow": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "debug"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "object-curly-newline": [
      "off",
      {
        "minProperties": 3
      }
    ],
    "object-curly-spacing": [
      "warn",
      "never"
    ],
    "one-var": [
      "off",
      "consecutive"
    ],
    "one-var-declaration-per-line": [
      "warn",
      "initializations"
    ],
    "prefer-destructuring": [
      "warn",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      }
    ],
    "strict": [
      "off"
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "switch-colon-spacing": [
      "warn",
      {
        "before": true
      }
    ]
  },
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "$": true,
    "moment": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ]
}
